<%= render 'admins/admin_top_bar'%>
<div class="<%=admin_flex_col_container%> px-[1rem] mt-[1rem]">
  <h1 class="<%=admin_main_header%>">Pending Users</h1>
  <table class="<%=admin_table%>">
    <thead>
      <tr>
        <th class="<%=admin_thead_border%>">ID</th>
        <th class="<%=admin_thead_border%>">First Name</th>
        <th class="<%=admin_thead_border%>">Last Name</th>
        <th class="<%=admin_thead_border%>">Email</th>
        <th class="<%=admin_thead_border%>">Role</th>
        <th class="<%=admin_thead_border%>">Status</th>
        <th class="<%=admin_thead_border%>">Confirmed Timestamp</th>
        <th class="<%=admin_thead_border%>">Broker application</th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr class="hover:bg-[#8B7DC324]">
        <td><%= user.id %> </td>
        <td><%= user.first_name %> </td>
        <td><%= user.last_name %> </td>
        <td><%= user.email %> </td>
        <td><%= user.user_role %> </td>
        <td><%= user.user_status %> </td>
        <% if user.confirmed_at == nil   %>
          <td> Account not confirmed </td>
        <% else %>
          <td><%= user.confirmed_at %> </td>
        <% end %>
        <% if user.user_status == "pending" %>
          <td><%= button_to "Approve application", approve_application_path(user.id), method: :post, :class=> "cursor-pointer bg-[#8B7DC3] hover:bg-[#FFA62B] px-[0.5rem] py-[0.5rem] rounded-lg text-white" %></td>
        <% elsif user.user_status == "buyer_broker" %>
          <td>User is a broker</td>
        <% else %>
          <td>User has not applied</td>
        <% end %>
        <td><%= button_to image_tag('icons/Search.png', height:21, width:21 ), user_path(user), method: :get, :class=> admin_mini_button%></td>
      </tr> 
      <% end %>
    </tbody>
  </table>
</div>