<%= render 'admins/admin_top_bar'%>
<div class="<%=admin_flex_col_container%> px-[1rem] mt-[5rem]">
<h1 class="<%=admin_main_header%>">Transaction #<%= @transaction.id %></div>
  <div class="<%=admin_flex_col_container%> px-[1rem]">
    <p class="<%=admin_mini_header%> pt-[1rem]">User Details</p>
    <div class="<%=admin_divider%>"></div>
    <p>First Name : <%= @user.first_name %></p>
    <p>Last Name : <%= @user.last_name %></p>
    <p>Role : <%= @user.user_role %> </p>
    <p>Status : <%= @user.user_status %> </p>
    <p>Wallet Balance : <%= @user.wallet.balance.format %> </p>
    <% if @user.confirmed_at == nil   %>
    <p> Account not confirmed </p>
    <% else %>
    <p>Account Confirmed : <%= @user.confirmed_at %></p>
    <% end %>
    <%= button_to image_tag('icons/Search.png', height:21, width:21 ) +'Show User', user_path(@user), method: :get, :class=> admin_dashboard_button %>
    <p class="<%=admin_mini_header%>">Transaction Details</p>
    <div class="<%=admin_divider%>"></div>
    <p>Transaction Type : <%= @transaction.transaction_type %></p>
    <% if @transaction.stock_symbol != nil %>
      <p>Stock Symbol : <%= @transaction.stock_symbol %></p>
      <p>Shares : <%= @transaction.share_amount %></p>
    <% end %>
    <p>Amount : <%= @transaction.price.format %></p>
    <p>Timestamp : <%= @transaction.created_at.localtime.to_formatted_s(:long) %></p>
  </div>
</div>