<div class="<%=gridParent%>">
  <div class="<%=gridChild%>">
    
    <%# GRID 1 %>
    <%= render "shared/navbar" %>
    
    <%# GRID 2 %>
    <div class="grid2 w-full h-full flex flex-col items-center justify-evenly px-8 text-[#454545]">

      <div class=" bg-[#8B7DC3] rounded-[20px] p-8 pl-5 pr-5 gap-3 flex flex-col items-center justify-center">
        <div class="flex items-center justify-center">
          <%= image_tag @stock.display_symbol, :class => "rounded-[50%] w-[10%]"  %>
          <h1 class="font-bold text-[4rem] text-white p-5"><%= @stock.symbol %> | <%= @stock.description %></h1> 
        </div>

        <div class="w-full text-white flex items-center justify-evenly">
          <div class="flex flex-col items-center justify-center">
            <div class="font-bold text-[2.8rem]">Current Price:</div>
            <div class="font-bold text-[2.5rem]">
              <%= @stock.current_price.format %> 
            </div>
          </div>

          <div class="flex flex-col items-center justify-center gap-3 text-">
            <div class="flex flex-col items-center justify-center">
              <div class="text-[2rem] font-bold">Change:</div>
              <div class="text-[1.8rem]"><%= @stock.change %></div>
            </div>
            <div class="flex flex-col items-center justify-center">
              <div class="text-[2rem] font-bold">Percent Change:</div>
              <% if @stock.percent_change.negative? %>
                <div class="text-[1.8rem] flex gap-1"><div class=" text-[red] font-bold">↓</div> <%= @stock.percent_change %></div>
              <% else %>
                <div class="text-[1.8rem] flex gap-1"><div class=" text-[green] font-bold">↑</div> <%= @stock.percent_change %></div>
              <% end %>
            </div>
          </div>

          <div class="flex flex-col items-center justify-center gap-3 text-">

            <div class="flex flex-col items-center justify-center gap-3">

              <div class="flex flex-col items-center justify-center">
                <div class="text-[2rem] font-bold">High Price of the Day:</div>
                <div class="text-[1.8rem]">$ <%= @stock.high_price_of_the_day_cents %></div>
              </div>

                <div class="flex flex-col items-center justify-center">
                  <div class="text-[2rem] font-bold">Low Price of the Day:</div>
                  <div class="text-[1.8rem]">$ <%= @stock.low_price_of_the_day_cents %></div>
                </div>

            </div>
          </div>
        </div>
        
        <div class="m-3 mt-5">
          <%= link_to "Buy", new_wallet_transaction_path(current_user.wallet.id, transaction_type: "buy"), 
          class: "rounded-[30px] bg-[#FFA62B] p-3 pl-5 pr-5 text-white text-[1.8rem] font-bold hover:bg-[#F58E00]" %>
          <% if current_user.user_status != "buyer_broker" %>
          <% else %>
          <%= link_to "Sell", new_wallet_transaction_path(current_user.wallet.id, transaction_type: "sell"), 
          class: "rounded-[30px] bg-[#FFA62B] p-3 pl-5 pr-5 text-white text-[1.8rem] font-bold hover:bg-[#F58E00]" %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>