<h1>Company details of: <%= @stock.description %></h1> <div> <%= link_to "Back to Users", all_users_path %> </div>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Symbol</th>
      <th>Desc.</th>
      <th>Price</th>
      <th>Change</th>
      <th>Percent Change</th>
      <th>High Price of the Day</th>
      <th>Low Price of the Day</th>
      <th>Currency</th>
      <th>Logo</th>
    </tr>
  </thead>

    <tr>
      <td><%= @stock.id %> </td>
      <td><%= @stock.symbol %> </td>
      <td><%= @stock.description %> </td>
      <td><%= @stock.current_price_cents %> </td>
      <td><%= @stock.change %> </td>
      <td><%= @stock.percent_change %> </td>
      <td><%= @stock.high_price_of_the_day_cents %> </td>
      <td><%= @stock.low_price_of_the_day_cents %> </td>
      <td><%= @stock.current_price_currency %> </td>
      <td><%= image_tag @stock.display_symbol.remove('"'), :style => "max-width: 5%"  %> </td>
    </tr>
  </tbody>
</table>