 <tbody class="pt-2 m-2">
  <tr class="m-1 font-bold hover:bg-[#f1eff7]">
    <td class="m-2 p-2 w-[5%]"><%= image_tag stock.display_symbol, :class => "rounded-[50%]"  %> </td>
    <td class="m-2 p-2 "><%= stock.symbol %> </td>
    <td class="m-2 p-2 "><%= stock.description %> </td>
    <td class="m-2 p-2 "><%= stock.current_price.format %> </td>
    <td class="m-2 p-2 "><%= stock.change %> </td>
    <td class="m-2 p-2 "><%= stock.percent_change %> </td>
    <td class="m-2 p-2 "><%= stock.high_price_of_the_day.format %> </td>
    <td class="m-2 p-2 "><%= stock.low_price_of_the_day.format %> </td>
    <td class="m-2 p-2 "><%= stock.current_price_currency %> </td>
    <td class="m-2 p-2"><%= link_to "Stock Info", stock_path(stock.id), class: "text-[#8B7DC3] hover:underline"  %> </td>
  </tr>
</tbody>