<h1>Show Wallet</h1>
<p><%= @wallet.balance.format %></p>
<p><%= @transactions.count %></p>

<%= button_to 'Edit Wallet', edit_wallet_path(@wallet.id), :method => "get" %>
<%= button_to 'Show Investments', wallet_investments_path(@wallet.id), :method => "get" %>
<%= button_to 'Show Transactions', wallet_transactions_path(@wallet.id), :method => "get" %>