<div class="<%=admin_flex_col_container%> px-[1rem]">
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "First name", class: admin_form_field %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "Last name", class: admin_form_field %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: admin_form_field %>
  </div>


  <% if action_name == "new" %>
    <div class="field flex flex-col items-start">
      <%= f.label "Password" %>
      <% if @minimum_password_length %>
      <em>(8 characters minimum and must include: 1 uppercase, 1 lowercase, 1 digit and 1 special character)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: admin_form_field %>
    </div>
  <% end %>

  <div>
    <%= f.label :user_role %><br />
    <%= f.select :user_role, User.user_roles.keys.map { |k| [k.humanize, k] }, {}, {class: admin_form_field} %>
  </div>

  <div class="field">
    <%= f.label :user_status %><br />
    <%= f.select :user_status, User.user_statuses.keys.map { |k| [k.humanize, k] }, {}, {class: admin_form_field} %>
  </div>

  <div class="<%=admin_flex_row_container%>">
    <% if action_name == "new" %>
        <%= f.submit "Submit and Send Confirmation Email", class: admin_dashboard_button %>
        <%= f.submit "Submit and Confirm immediately", class: admin_dashboard_button %>
    <% else %>
      <%= f.submit "Save changes", class: admin_dashboard_button %>
    <% end %>
  </div>
</div>