<div>
<%= form_with model: [@wallet, @wallet.transactions.build], local: true do |f| %>
  <p>
    <%= f.radio_button :transaction_type, 'buy'%>
    <%= f.label :transaction_type, "Buy" %> <br/>
    <%= f.radio_button :transaction_type, 'sell'%>
    <%= f.label :transaction_type, "Sell" %> <br/>
    <%= f.radio_button :transaction_type, 'withdraw'%>
    <%= f.label :transaction_type, "Withdraw" %> <br/>
    <%= f.radio_button :transaction_type, 'deposit'%>
    <%= f.label :transaction_type, "Deposit" %>
    <%# f.select :transaction_type, 
      [["Buy", "buy"], 
      ["Sell", "sell"],
      ["Withdraw", "withdraw"],
      ["Deposit","deposit"]], 
      selected: 3 %>
  </p>

  <%# show if transaction_type is buy or sell %>
  <p>
    <%= f.label :share_amount %> <br/>
    <%= f.number_field :share_amount, in: 1..20, step: 1 %>
  </p>

  <p>
    <%= f.label :stock_symbol %> <br/>
    <%= f.select :stock_symbol, options_from_collection_for_select(Stock.all, :symbol, :description) %>
  </p>

  <p>
    <%= f.label :investment_id %> <br/>
    <%= f.select :investment_id, options_from_collection_for_select(@wallet.investments, :id, :investment_display) %>
  </p>

  <p> <%# allow client editing if transaction_type is withdraw or deposit %>
    <%# partial for withdraw or deposit %>
    <%= f.label :price %> <br/>
    <%= f.text_field :price %>
  </p>

  <p>
    <%= f.submit 'Create Transaction' %>
  </p>
<% end %>

<%= button_to 'Back', wallet_path(@wallet.id), :method => "get" %>
</div>